#pt1 {
    background: linear-gradient(to right, #040404, #000000, #656565);
}

#pt2 {
    margin-left: 7%;

    width: 900px;
    height: 430px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3vw;
    text-align: center;
    padding: 6vw;
}

#pt3 {
    background-color: rgb(6, 20, 77);
    max-width: 99.5vw;
}

#pt4 {
    background-color: rgb(193, 248, 248);
    width: auto;
    height: 50vw;
}

#imgs {
    margin-left: 5%;
}

/*Barra superior*/
header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #2a2727;
    padding: 20px;
}


.barra-de-tareas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #2a2727;
    padding: 10px;
    display: flex;
    justify-content: center;
}
body {
    margin-top: 60px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: #e2e2e2;
    font-weight: bold;
}

.menu li a:hover {
    color: #ffaeae;
}

/*Hasta aqui Barra superior*/
/*para galeria de imagenes*/
section {
    display: flex;
    width: 500px;
    height: 430px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/*hasta aqui galeria*/

/*pie de pagina con RS*/
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    /* Otros estilos del pie de página */
}

.contenido-pie {
    display: flex;
    justify-content: center;
}

.seccion-redes,
.seccion-enlaces {
    margin: 0 20px;
}

.seccion-redes h3,
.seccion-enlaces h3 {
    margin-bottom: 10px;
}

.redes-sociales,
.enlaces-utiles {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.redes-sociales li,
.enlaces-utiles li {
    margin-right: 10px;
}

.redes-sociales a,
.enlaces-utiles a {
    text-decoration: none;
    color: #333;
}

/*style 2 imagen*/
.articles-container {
    display: flex;
}

article {
    position: relative;
    width: 250vw;
    transition: all .3s ease;
    margin: 5vw;
}

article img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

article img:last-child {
    position: absolute;
    width: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

article:hover {
    transform:
        perspective(500px) rotateX(10deg) translateY(-5%) translateZ(0);
}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image:
        linear-gradient(to bottom, transparent 10%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before {
    opacity: 1;
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(4%);
}

/*fin 2 img*/

/*Flecha para arriba*/
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.back-to-top:hover {
    background-color: #555;
}

.back-to-top.active {
    opacity: 1;
    visibility: visible;
}

.arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    margin-top: 5px;
}

/*Fin Flecha para arriba*/